@using website.Models
@using website.Services
@inject DataService DataService

@if (_data is not null)
{
    <section class="max-w-3xl mx-auto bg-muted p-8 rounded-2xl shadow-lg my-10 transition-all">
        <h2 class="text-3xl font-bold text-foreground mb-4">@_data.Title</h2>
        <p class="text-muted-foreground text-lg leading-relaxed whitespace-pre-line">@_data.Description</p>
    </section>
}
else
{
    <div class="text-center text-muted-foreground mt-10">Loading about info...</div>
}

@code {

    [Parameter]
    public required AboutType Type { get; init;}

    private AboutEntry? _data;

    protected override async Task OnInitializedAsync()
    {
        _data = await DataService.LoadAboutEntriesByTypeAsync(Type);
    }
}