bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
.env
node_modules
/website/wwwroot/images/thumbs/*
/website/wwwroot/images/gallery/*
/website/wwwroot/tailwind.css
/website/Data/*
*.*.DotSettings.user