<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["tailwind.css"]"/>
    <ImportMap/>
    <HeadOutlet/>
</head>

<body class="bg-gray-800 text-gray-200">
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>
<script>
  window.setupBlazorErrorUI = function (dotNetHelper) {
    window.addEventListener('error', () => {
      dotNetHelper.invokeMethodAsync('ShowBlazorError');
    });

    window.addEventListener('unhandledrejection', () => {
      dotNetHelper.invokeMethodAsync('ShowBlazorError');
    });
  };
</script>

