@page "/dashboard"
@inject NavigationManager Navigation
@layout Layout.DashboardLayout

<div class="container align-middle content-center font-bold bg-black text-white">
    Welcome to the Dashboard
</div>

