@page "/dashboard"
@layout Layout.DashboardLayout

<div class="bg-neutral-950 text-white flex items-center justify-center">
    <div class="text-center">
        <h3 class="text-xl font-semibold mb-2">Dashboard</h3>
        <p class="text-neutral-400">Select any route from the menu to start editing the website content.</p>
    </div>
</div>

